<section class="section2">
    <h2 class="section2__sec2h2" id="sec2h2.1">3 Reasons To Purchase</h2>
    <article class="sec2grid">
        <div class="divtext">
            <p class="item1">Ut sed metus</p>
            <p class="item2">Lorem ipsum dolor sit amet, consectetur. </p>
        </div>
        <div class="divtext">
            <div class="item3">Curabitur ac erat</div>
            <div class="item4">Mauris mattis urna quis lorem molestie.</div>
        </div>
        <div class="divtext">
            <div class="item5">Morbi dictum</div>
            <div class="item6">Aliquam in dolor et dolor tincidunt.</div>
        </div>
    </article>
    <nav>
        <div class="boton2"><a class="morereasons" href="https://adalab.es">More Reasons</a></div>
    </nav>
    <nav>
        <a href="#heroid"><img class="icoarrow" src="./assets/images/ico-arrow.png" alt="ico-arrow"></a>
    </nav>
</section>