// fonts
$font-main: 'Roboto', sans-serif;
$font-secundary: 'Roboto Slab', serif;

// colors
$greyish-brown: #4a4a4a;
$k-50: rgba(0, 0, 0, 0.5);
$k-50: rgba(0, 0, 0, 0.5);
$lightblue: #8ccbea;
$k-20: rgba(0, 0, 0, 0.2);
$first-color: #fff;
$black: #000;
$second-color: #f26002;
$ice-blue: #eff9ff;
$dark-grey-blue: #304268;