.footer {
  background-color: #304268;
  color: var(--first-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-main);
  line-height: 30px;
  font-size: 14px;
  gap: 20px;
  align-content: center;
}

.article1 {
  margin-top: 40px;
}

.article2 {
  margin: 40px 86px 20px 87;
}

.artfooter1,
.artfooter2 {
  text-transform: uppercase;
  text-align: center;
  list-style: none;
}

a.link {
  text-decoration: none;
  color: var(--first-color);
}

.artfooter1,
.artfooter2,
.artfooter3,
.artfooter4 {
  text-align: center;
  list-style: none;
}

@media screen and (min-width: 768px) {
.footer {
  flex-direction: row;
  justify-content: space-around;
}
.article1 {
  order: 2;
  }
.article2 {
  order: 3;
}
}

@media screen and (min-width: 1280px) {
.article1 {
    order: 2;
  }
  .article2 {
    order: 3;
  }
  .footer {
    justify-content: center;
  }
  .article1, .article2, .article3, .article4 {
    margin: 40px;
  }
}