* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #0271bc;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  justify-content: center;
  align-items: center;
}

.icoburguer {
  width: 16px;
  height: 14px;
}

