.section2 {
    background-color: #eff9ff;
    height: 550px;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 120px 120px 90px;
    &__sec2h2 {
        font-family: $font-secundary;
        font-size: 24px;
        padding: 30px 15px 15px;
        height: 60px;
    }
}

.item1,
.item3,
.item5 {
    font-family: $font-secundary;
    font-size: 18px;
    width: 180px;
    height: 30px;
    text-align: center;

}

.item2,
.item4,
.item6 {
    font-family: $font-main;
    font-size: 18px;
    width: 180px;
    height: 63px;
    text-align: center;
}

.botom2 {
    background-color: $second-color;
    width: 184px;
    height: 45px;
    border-radius: 22px;
    margin: 20px 0 50px;
    text-align: center;
    margin-top: 200px;
}

a.morereasons {
    text-decoration: none;
}

.morereasons {
    font-family: $font-main;
    font-size: 20px;
    line-height: 45px;
    color: $first-color;
}

.icoarrow {
    width: 45px;
    height: 45px;
    margin: 200px 145px 310px 140px;
    background-color: $first-color;
    border-radius: 50%;
}

@media screen and (min-width: 768px) {
.section2 {
    height: 400px;
}
.item1, .item3, .item5 {
    font-size: 24px;
    width: 210px;
    height: 30px;
}
.item2, .item4, .item6 {
    font-size: 20px;
}
.botom2 {
    margin-top: 30px;
}
.sec2grid {
    display: flex;
    column-gap: 70px;
}
.divtext {
    width: 200px;
}
.section2__sec2h2 {
    font-size: 26px;
}
.icoarrow {
    margin: 50px 361px 217px 362px;
}
}

@media screen and (min-width: 1280px) {
.botom2 {
    width: 255px;
}
}