.section1 {
    margin: 35px 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.psec1 {
    color: #8ccbea;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.psec2 {
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
}

.artsec1 {
    color: #4a4a4a;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.boton {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    height: 45px;
    width: 76px;
    border: solid 2px #f26002;

}

a.go {
    text-decoration: none;
}

.go {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: auto;
    color: #f26002;
}