.section1 {
    margin: 35px 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.psec1 {
    color: #8ccbea;
    font-family: $font-main;
    font-size: 14px;
}

.psec2 {
    font-family:$font-secundary;
    font-size: 24px;
}

.artsec1 {
    color: #4a4a4a;
    font-family:$font-main;
    font-size: 18px;
}

.botom {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    height: 45px;
    width: 76px;
    border: solid 2px $second-color;

}

a.go {
    text-decoration: none;
}

.go {
    text-transform: uppercase;
    font-family: $font-main;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: auto;
    color: $second-color;
}

@media screen and (min-width: 768px) {
.section1 {
        margin: 50px;
    }
    .psec2 {
        font-size: 26px;
    }
    .artisec1 {
        font-size: 20px;
    }
    .botom {
        width: 76px;
    }
}

@media screen and (min-width: 1280px) {
.section1 {
    height: 230px;
    margin: 30px 300px 0;
 }
.psec2 {
    font-size: 32px;
 }
.botom {
    width: 160px;
 }
}