* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

/* header */
.ico-burguer {
width: 16px;
height: 14px;
}

header {
background-color:#0271bc ;
width: 44px;
height: 44px;
display: flex;
justify-content: space-between;
position: fixed;
top: 0;
justify-content: center;
align-items: center;
}

.hero {
background-image: url(../images/cover.jpg);
background-size: cover;
background-position: center;
display: flex;
width: 100%;
height: 100vh;
gap: 5vh;
color: white;
}

.circle{ 
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 122px 0 140px;
}


.ico-scroll{
text-align: center;
}

h1.title {
font-size: 42px;
font-family: 'Roboto Slab', serif;
line-height: 55px;
text-transform: uppercase;
display: flex;
margin: 240px 0 10px 15px;

}

p.phero {
font-family: 'Roboto', sans-serif;
display: flex;
justify-content: center;

}

.divhero {
text-align: center;
margin-bottom: 60%;
}

/* seccion 1*/

.section1 {
    margin: 35px 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;

}
.psec1{
    color: #8ccbea;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.psec2 {
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
}

.artsec1 {
    color: #4a4a4a;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.boton {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    height: 45px;
    width: 76px;
    border: solid 2px #f26002;
    
}

.go {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: auto;
    color: #f26002;
}

/* seccion2 */
.section2 {
    background-color: #eff9ff;
    height: 550px;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 120px 120px 90px;
}

.sec2h2 {
font-family: 'Roboto Slab', serif;
font-size: 24px;
padding: 30px 15px 15px;
height: 60px;
}

.item1, .item3, .item5 {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    width: 180px;
    height: 30px;
    text-align: center;
    
}
.item2, .item4, .item6 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    width: 180px;
    height: 63px;
    text-align: center;
 
}

.boton2 {
    background-color: #f26002 ;
    width: 184px;
    height: 45px;
    border-radius: 22px;
    margin: 20px 0 50px;
    text-align: center; 
    margin-top: 200px;
}

.morereasons {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 45px;
    color: white;
    font-weight: bold;
}

.ico-arrow {
    width: 45px;
    height: 45px;
    margin: 200px 145px 310px 140px;
    background-color: white;
    border-radius: 50%;
}

/*footer*/
footer {
    background-color: #304268;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
    font-size: 14px;
    gap: 20px;
    align-content: center;
}
.article1 { 
    margin-top: 40px;
}

.article2 {
    margin: 40px 86px 20px 87;
}


.artfooter1, .artfooter2 {
    text-transform: uppercase;
}

.artfooter1, .artfooter2, .artfooter3, .artfooter4 {
    text-align: center;
    list-style: none;
}

@media screen and (min-width: 768px){
    h1.title {
        font-size: 80px;
        line-height: 106px;
        margin-top: 70%;
    }
    p.phero {
        font-size: 24px;
    }
    .circle {
        margin: 50px 122px 0 360px;
    }
    .section1 {
        margin: 50px;
     }
    .psec2 {
        font-size: 26px;
    }
    .artisec1 {
        font-size: 20px;
    }
    .boton {
        width: 76px;
    }
    .section2 {
        height: 400px;
    }
    .item1,.item3, .item5 {
        font-size: 24px;
        width: 210px;
        height: 30px;
     }
    .item2, .item4, .item6 {
        font-size: 20px;
        }
    .boton2 {
        margin-top: 30px;
    }
    .sec2grid {
        display: flex;
    column-gap: 70px;
    }
    .divtext {
        width: 200px;
    }
    .sec2h2 {
         font-size: 26px;
    }
    .ico-arrow{
        margin: 50px 361px 217px 362px;
    }
    .article1 {
        order: 2; 
        
    }
    .article2 {
        order: 3; 
    }
    footer {
        flex-direction: row;
        justify-content: space-around;
    }
    
}
@media screen and (min-width: 1280px) {
    h1.title {
        font-size: 100px;
        line-height: 132px;
        margin: 900px 250px 0 231px;
    }
    .circle {
        margin: 30px 342px 0 615px;
    }
    .section1 {
        height: 230px;
        margin: 30px 300px 0;
    }
    .psec2 {
        font-size: 32px;
    }
    .boton {
        width: 160px;
    }
    .boton2 {
        width: 255px;
    }
    .article1 {
        order: 2;
    }
    .article2 {
        order: 3;
    }
    footer {
        justify-content: center;
    }
    .article1, .article2, .article3, .article4 {
        margin: 40px;
    }
}
