* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}

/* */

/* header */
.ico-burguer {
width: 16px;
height: 14px;
}

header {
background-color:#0271bc ;
width: 44px;
height: 44px;
display: flex;
justify-content: space-between;
position: fixed;
top: 0;

}

.hero {
background-image: url(../images/cover.jpg);
background-position: center;
display: flex;
width: 320px;
height: 568px;
flex-wrap: wrap;
justify-content: center;
gap: 5vh;
color: white;
}

.circle{ 
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    
}
img.ico-scroll{
text-align: center;

}

h1.title {
font-size: 42px;
font-family: 'Roboto Slab', serif;
line-height: 55px;
text-transform: uppercase;
display: flex;
justify-content: center;
text-align: center;
}

p.phero {
font-family: 'Roboto', sans-serif;
display: flex;
justify-content: center;
text-align: center;
}

.divhero {
text-align: center;
margin-bottom: 60%;
}

nav {
margin: 10px;
}

/* seccion 1*/

.section1 {
    margin: 35px 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;

}
.psec1{
    color: #8ccbea;
    font-family: 'Roboto', sans-serif;
    
}

.artsec1 {
    color: #4a4a4a;
    font-family: 'Roboto', sans-serif;
}

.boton {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    height: 45px;
    width: 76px;
    border: solid 2px #f26002;
    
}

.go {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin: auto;
    color: #f26002;
}

/* seccion2 */
.section2 {
    background-color: #eff9ff;
    display: grid;
    justify-items: center;
}

.sec2h2 {
font-family: 'Roboto Slab', serif;
font-size: 24px;
padding: 30px 15px 15px;
height: 60px;
}

.item{
display: grid;
height: 40px;
grid-template-columns: 1fr;
grid-template-rows: 40px;
margin-left: 40px;

}

.item1, .item3, .item5 {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    width: 180px;
    height: 30px;
    align-items: center;
    text-align: justify;
    
}
.item2, .item4, .item6 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    width: 180px;
    height: 63px;
    
    
    
}

.boton2 {
    background-color: #f26002 ;
    width: 184px;
    height: 45px;
    border-radius: 22px;
    margin: auto;
    text-align: center; 
}

.morereasons {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 45px;
    color: white;
    font-weight: bold;
    
}


/*footer */
footer {
    background-color: #304268;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
    font-size: 14px;
    gap: 20px;
    margin: 35px 15px;
    align-content: center;
}
.article1, .article2, .article3, .article4{
    display: flex;    
}
.artfooter1, .artfooter2 {
    text-transform: uppercase;
}

.artfooter1, .artfooter2, .artfooter3, .artfooter4 {
    text-align: center;
    list-style: none;
}